<article class="product-card">
  <a class="product-card__media" href="{{ product.url }}">
    {% if product.featured_media %}
      {{ product.featured_media | image_url: width: 720 | image_tag: widths: '320, 520, 720', sizes: '(min-width: 900px) 25vw, 50vw' }}
    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </a>

  <div class="product-card__info">
    <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
    {% render 'price', product: product %}
  </div>
</article>
