<!doctype html>
{%- liquid
  assign color_mode_attr = 'light'
  if settings.color_scheme_mode == 'dark'
    assign color_mode_attr = 'dark'
  elsif settings.color_scheme_mode == 'system'
    assign color_mode_attr = 'system'
  endif
-%}
<html class="no-js" lang="{{ request.locale.iso_code }}" data-color-mode="{{ color_mode_attr }}">
  <head>
    {%- render 'color-mode-script' -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ shop.name }}</title>
    {%- render 'meta-tags' -%}
    {{ content_for_header }}
    {%- render 'theme-assets' -%}
  </head>

  <body class="password-layout">
    {%- render 'icon-sprite' -%}
    <div id="AtelierAnnouncer" class="visually-hidden" aria-live="polite" aria-atomic="true"></div>

    <main id="MainContent" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
